:root {
  --translate-factor: calc(var(--book-cover-height) / 4);;
  --translate-factor-2: calc(var(--book-cover-height) / 1.8);
  --book-translate: translateY(var(--translate-factor));
  --book-translate-2: translateY(var(--translate-factor-2));
  --book-cover: 180px;
  --book-cover-height: calc(var(--book-cover) * 1.5);
  --columns: 1;
}

.book {
  display: flex;
  flex-flow: row;
  position: relative;
  cursor: zoom-in;

  &:hover, :focus, :active {
    .book_content_wrapper {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(20px);
    }
  }
}

.book_content_wrapper {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  padding: 8px;
  height: var(--book-cover-height);
  width: var(--book-cover);
  display: flex;
  flex-flow: column;
  gap: 16px;
  box-sizing: border-box;
  border: 4px solid var(--yellow);
}

.book-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--book-cover));
  grid-gap: 16px;
  justify-content: center;
  width: calc(var(--columns) * var(--book-cover) + (var(--columns) - 1) * 32px);
  margin-bottom: 16px;
}

@media screen and (min-width: 980px) {
  :root{
    --columns: 5;
  }

  .book-grid {
    grid-template-areas: "book-4 book-2 book-1 book-3 book-5";
  }

  book-preview:nth-child(5n+4) {
    transform: var(--book-translate-2);
  }

  book-preview:nth-child(5n+2) {
    transform: var(--book-translate);
  }

  book-preview:nth-child(5n+3) {
    transform: var(--book-translate);
  }

  book-preview:nth-child(5n+5) {
    transform: var(--book-translate-2);
  }

  .year__section {
    margin-bottom: var(--translate-factor-2) !important;
  }
}

@media screen and (min-width: 784px) and (max-width: 980px) {
  :root{
    --columns: 4;
  }

  .book-grid {
    grid-template-areas: "book-4 book-2 book-1 book-3";
  }

  book-preview:nth-child(4n+3) {
    transform: var(--book-translate);
  }

  book-preview:nth-child(4n+4) {
    transform: var(--book-translate);
  }
}

@media screen and (min-width: 648px) and (max-width: 784px) {
  :root{
    --columns: 3;
  }

  .book-grid {
    grid-template-areas: "book-2 book-1 book-3";
  }

  book-preview:nth-child(3n+2) {
    transform: var(--book-translate);
  }

  book-preview:nth-child(3n+3) {
    transform: var(--book-translate);
  }
}

@media screen and (max-width: 648px) {
  :root{
    --columns: 2;
  }

  .book-grid {
    grid-template-areas: "book-2 book-1";
  }

  book-preview:nth-child(2n+1) {
    transform: var(--book-translate);
  }
}

.book_cover {
  width: var(--book-cover);
  height: var(--book-cover-height);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.book_title {
  display: flex;
  font-size: 110%;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}

.book_info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.book_descriptor {
  font-size: 0.8em;
}

.book-summary-title {
  font-size: 0.9em;
  color: #a1a1a1;
  text-align: center;
}

.book-summary {
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
}

.year__heading {
  padding: 24px;
  padding-top: 64px;
  text-align: center;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  backdrop-filter:  blur(5px);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.year__section {
  margin-bottom: var(--translate-factor);
}

.year {
  color: var(--yellow);
  font-size: 1.5em;
  white-space: nowrap;
}


.year__content {
  white-space: nowrap;
}

.bookshelf-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}