.book {
    display: flex;
    flex-flow: row;
    margin: 0 0 16px 16px;
}

.book_cover {
    width: calc(var(--book-cover) * 0.75);
    height: var(--book-cover);
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid var(--yellow);
    flex-shrink: 0;
}

.book_content {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    height: calc(var(--book-cover)/4);
    padding: 0 8px;
    font-size: small;
}

.book_title {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 8px;
    font-weight: bold;
    font-size: large;
}

.book_descriptor {
    width: 120px;
}

.year-column-item {
    border-left: 2px solid white;
    margin-left: 16px;
    padding-top: 20px;
    height: 90px;
}

.year-column {
    flex-shrink: 0;
    border-right: 8px solid var(--yellow);
    padding-top: 32px;
}

.year {
    color: var(--yellow);
    font-size: 30px;
    margin-top: -28px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.year:hover,
.year:hover::before,
.year_active::before,
.year_active {
    cursor: pointer;
    background-color: var(--yellow) !important;
    color: black;
}

.year::before {
    --circle-size: 20px;
    display: inline-block;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: var(--circle-size);
    margin-right: calc(var(--circle-size) / 2);
    margin-left: calc(var(--circle-size) / 2 * -1 - 3px);
    content: '';
    border: 2px solid white;
    background-color: #333;
}

.year_content {
    padding-left: 20px;
}

.bookshelf {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 32px;
}

.bookshelf-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.book_content_wrapper {
    width: 100%;
}

@media screen and (max-width: 450px) {
    .book {
        flex-flow: column;
        margin-left: 4px;
        align-items: center;
    }

    .book_content {
        padding: 0;
    }
    .book_title {
        display: block;
        padding: 8px 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .year-column {
        width: 130px;
    }

    .year {
        padding-right: 4px;
    }
}