body {
    background: #222;
    color: #fcbe24;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    touch-action: manipulation;
    flex-flow: column;
}

#playground {
    margin-top: 24px;
}

.controls {
    position: fixed;
    bottom: 24px;
    width: 324px;
    height: 200px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "settings up ."
        "left down right";
    margin-left: -15px;
}

@media only screen and (max-width: 600px){
    .controls {
        margin-left: 0;
    }
}

.control {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.control__up {
    grid-area: up;
}

.control__right {
    grid-area: right;
}

.control__down {
    grid-area: down;
}

.control__left {
    grid-area: left;
}

.button {
    border: none;
    color: #f2c94c;
    background-color: rgba(0,0,0,0.6);
    flex-basis: 50%;
    cursor: pointer;
    padding: 0.25em 0.5em;
}

.button:hover {
    color: black;
    background-color: #f2c94c;
}

#winning-screen {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    background: rgba(0,0,0,0.7);
    padding: 24px;
    box-sizing: border-box;
    z-index: 10;
    margin-left: -15px;
}

@media only screen and (max-width: 600px){
    #winning-screen {
        margin-left: 0;
    }
}

#restart-button {
    border: thin solid #fcbe24;
    padding: 12px;
    background: black;
    cursor: pointer;
    color: white;
}

#settings-button {
    grid-area: settings;
    color: #f2c94c;
    background: #222;
    border: none;
    padding: 12px;
    cursor: pointer;
}

#settings-button:hover {
    text-decoration: underline;
    text-decoration-color: #f2c94c;;
}

#settings-dialog {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
}

#settings-select {
    width: 100%;
    padding: 0.5em 1em;
    text-align: center;
    background: transparent;
    border: none;
    color: white;
}