a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    color: #11505d;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #000;
    position: relative;
}

footer {
    padding: 20px 0;
    color: #fff;
    background-color: #000;
}

footer p {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

img {
    border: thin solid rgba(255, 255, 255, 0.5);
    margin-top: 50px;
}

ul {
    list-style-type: square;
}

#background_wrap {
    background: #000 url("../img/dog.jpg") no-repeat 50% 0;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.about-blog {
    margin-top: 15px;
    padding: 30px 0 0 15px;
    background: rgba(255, 255, 255, 0.9);
    border: thin solid rgba(0, 0, 0, 0.1);
}

.container .glyphicon {
    margin-bottom: 15px;
    font-size: 70px;
}

.content-section {
    width: 100%;
}

.content-header {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    padding: 30px;
    text-transform: uppercase;
}

.intro{
    height: 100%;
}

.intro {
    display: table;
    width: 100%;
    text-align: center;
    color: #fff;
}

#contact > div, .intro > div {
    max-width: 1300px;
}

#contact > .row{
    margin-left: auto;
    margin-right: auto;
}

#contact > .row > div{
    margin-left: 0;
    width: 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro-header {
    padding-bottom: 50px;
    padding-top: 65px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.intro-body {
    text-align: left;
    font-size: 20px;
    max-width: 450px;
    border: thin solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.intro-link {
    margin: 0 0 25px;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    padding: 25px;
}

.intro a {
    color: white;
    text-transform: uppercase;
}

.intro-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.dark {
    color: #fff;
}

.light {
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
}

.linkListe li {
    margin: 15px;
}

.navbar-custom {
    background-color: white;
    text-transform: uppercase;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 4px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom,
.navbar-brand,
.navbar-toggle:focus,
.navbar-toggle:active,
.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,
.navbar-custom .nav li.active {
    outline: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}

.navbar-custom .nav li,
.navbar-custom .nav li a {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    
}

.textCenter {
    text-align: center;
}

.top-margin {
    margin-bottom: 70px;
}

.project-blog {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}

.project-blog > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.project-blog > li > .project-item {
    background-color: rgba(255, 255, 255, 0.9);
    color: #555;
    margin: 10px;
    padding: 5px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.project-blog > li > .project-item > .project-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-size: 16px;
    line-height: 1.1;
}

.project-blog > li > .project-item > .project-body {
    padding: 10px;
    text-align: left;
}

.welcome-text {
    margin-top: 0.5em;
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px #000000;
    line-height: 80%;
}

.welcome-secound-text {
    line-height: 2;
    font-size: 20px;
}

@media (min-width: 768px) {
    .navbar {
        opacity: 0;
        padding: 0;
        letter-spacing: 3px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out, opacity 1s ease-in-out;
        right: 15%;
    }

    .top-nav-collapse {
        opacity: 1;
        padding: 0;
        letter-spacing: 3px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out, opacity 1s ease-in-out;
        right: 15%;
    }

    img {
        margin-top: 0px;
    }

    .intro{
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@Media (max-width: 768px) {
    .intro .container {
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }

    .welcome-text {
        font-size: 5em;
    }

    .welcome-secound-text{
        line-height: 1.3;
    }

    .navbar{
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}